/* Profile Image */
.css-about-profile-img {
  min-width: 6.25rem;
  min-height: 6.25rem;
  max-height: 12.5rem;
  float: left;
}

/* Content */
.css-about-first-col {
  text-align: left;
  font-size: 1.125rem;
}
