.css-proj-item {
  min-width: 25rem;
}

.css-proj-img:hover {
  background: rgba(0, 20, 24, 0.8);
}

.css-link-container {
  position: relative;
}

.css-link-container:hover .css-proj-overlay {
  opacity: 0.9;
}

.css-link-container:hover .css-see-proj-lbl {
  display: none;
}

.css-proj-image {
  display: block;
  width: 100%;
  height: auto;
}

.css-proj-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000;
}

.css-proj-title {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Project Modal */
.css-skills-used-list {
  list-style: none;
  padding-left: 0;
}
